<div class="lead-container">
  <div class="subject card">
    <h4 class="subject-title">
      Neural Networks
    </h4>
    <img src="../../assets/icons/brain.svg" class="subject-icon"/>
  </div>
  <div class="subject card">
    <h4 class="subject-title">
      Neural Networks
    </h4>
    <img src="../../assets/icons/brain.svg" class="subject-icon"/>
  </div>
  <div class="subject card">
    <h4 class="subject-title">
      Neural Networks
    </h4>
    <img src="../../assets/icons/brain.svg" class="subject-icon"/>
  </div>
  <div class="subject card">
    <h4 class="subject-title">
      Neural Networks
    </h4>
    <img src="../../assets/icons/brain.svg" class="subject-icon"/>
  </div>
  <div class="subject card">
    <h4 class="subject-title">
      Neural Networks
    </h4>
    <img src="../../assets/icons/brain.svg" class="subject-icon"/>
  </div>
  <div class="subject card">
    <h4 class="subject-title">
      Neural Networks
    </h4>
    <img src="../../assets/icons/brain.svg" class="subject-icon"/>
  </div>
  <div class="subject card">
    <h4 class="subject-title">
      Neural Networks
    </h4>
    <img src="../../assets/icons/brain.svg" class="subject-icon"/>
  </div>
  <div class="subject card">
    <h4 class="subject-title">
      Neural Networks
    </h4>
    <img src="../../assets/icons/brain.svg" class="subject-icon"/>
  </div>
</div>
