<div class="home-container">
  <div class="div1 card">
    <h2 class="subtitle">Main Menu</h2>
    <div class="card-body">
      <app-main-menu></app-main-menu>
    </div>
  </div>
  <div class="div2 card">
    <h2 class="subtitle">My Subjects</h2>
    <div class="card-body">
      <app-my-subjects></app-my-subjects>
    </div>
  </div>
  <div class="div3 card">
    <h2 class="subtitle">My Conversations</h2>
    <div class="card-body">
      <app-my-conversations></app-my-conversations>
    </div>
  </div>
</div>
