<div class="lead-container">
  <div class="subject card profile-card">
    <h4 class="subject-title">
      <b>
      User Name and Surname
      </b>
    </h4>
    <img src="../../assets/icons/profile-test.png" class="profile-img"/>
    <p class="user-info">
      <span class="glyphicon glyphicon-envelope"></span>📧 <b>Email</b>: email
      <br/>
      <span class="glyphicon glyphicon-gift"></span>🎁 <b>Date of Birth</b>: dob
    </p>
    <div class="btn-group">
      <button class="btn btn-lg">Edit</button>
      <button class="btn btn-lg">Delete</button>
    </div>
  </div>
</div>
