@font-face {
  font-family: "titleFont";
  src: url('https://fonts.googleapis.com/css2?family=Taviraj:wght@600&display=swap');
}

h2 {
  font-family: "titleFont";
  font-size: 2.8em;
  padding: 1.25rem;
  padding-bottom: 0;
  margin: 0;
}
