.home-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  height: 650px;
  width: 100%;
  margin-top: 80px;
  padding: 1em;
}

.div1 {
  grid-area: 1 / 1 / 3 / 3;
  width: 95%;
}
.div2 {
  grid-area: 1 / 3 / 4 / 5;
  width: 95%;
}
.div3 {
  grid-area: 3 / 1 / 4 / 3;
  width: 95%;
}
