<div class="card notifications-card">
  <h2 class="subtitle">Notifications</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Description</th>
      <th scope="col">From</th>
      <th scope="col">Time</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let notification of notifications; index as i" class="table-item">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        {{notification.description}}
      </td>
      <td>{{notification.from}}</td>
      <td>{{notification.time}}</td>
      <td class="table-actions"><i class="fa fa-eye table-action"></i><i class="fa fa-minus-circle table-action"></i></td>
    </tr>
    </tbody>
  </table>
</div>
