<div class="card" style="width: 500px; margin-top: 100px">
  <h2 class="subtitle">Register</h2>
  <div class="card-body">
    <form class="form-signin">
      <div class="form-label-group">
        <input class="form-control form-control-lg" formControlName="name" type="text" placeholder="Name" required>
      </div>

      <div class="form-label-group">
        <input class="form-control form-control-lg" formControlName="surname" type="text" placeholder="Surname" required style="margin-bottom: 10px;">
      </div>

      <div class="form-label-group">
        <input class="form-control form-control-lg" formControlName="email" type="email" placeholder="Email" required style="margin-bottom: 10px;">
      </div>

      <div class="form-label-group">
        <input class="form-control form-control-lg" formControlName="password" type="password" placeholder="Password" required style="margin-bottom: 10px;">
      </div>

      <div class="form-label-group">
        <input class="form-control form-control-lg" formControlName="repassword" type="password" placeholder="Re-type Password" required style="margin-bottom: 10px;">
      </div>
      <button class="btn btn-lg">Complete</button>
      <hr class="divider">
    </form>
  </div>
</div>
